@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background-color: rgb(94, 180, 78);
  font-family: 'Courier New', monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px #a3d288;
    font-size: 10px;
    font-weight: 700;
}


.window {
  background-color: #f0f5e0;
  border: 2px solid #4a7c34;
  width: 400px;
  box-shadow: 0 0 10px #4a7c34;
}

.title-bar {
  background-color: #649d3c;
  color: white;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-weight: bold;
}

.title-bar button.close {
  background-color: #a3d288;
  border: none;
  padding: 2px 10px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  font-family: inherit;
  border: none;
  background-color: white;
  color: gray;
}

.buttons {
    font-family: 'Press Start 2P', cursive;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #4a7c34;
  background-color: #f0f5e0;
}
